.card {
  position: relative;
  .card-img {
    border-radius: 14px;
  }
  .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1em;
    font-weight: 600;
    padding-top: 10px;
  }

  .card-subtitle {
    font-size: 0.8em;
  }

  .bookmark-button {
    position: absolute;
    right: 5px;
    top: -10px;
    z-index: 9999;
  }
}